In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
df=pd.read_csv(r"Z:\Ck\ML\csv\play_game.csv")
df

    Wheather  temp Play
0      Sunny   Hot   No
1      Sunny   Hot   No
2   Overcast   Hot  Yes
3      Rainy  Mild  Yes
4      Rainy  Cool  Yes
5   Overcast  Cool   No
6      Sunny  Cool  Yes
7      Sunny  Mild   No
8      Rainy  Cool  Yes
9      Sunny  Mild  Yes
10  Overcast  Mild  Yes
11  Overcast   Hot  Yes
12     Rainy  Mild   No

In [10]:
inputs=df.drop('Play',axis='columns')
target=df['Play']

In [11]:
numerics=LabelEncoder()

In [12]:
inputs['weather_n']=numerics.fit_transform(inputs['Wheather'])
inputs['temp_n']=numerics.fit_transform(inputs['temp'])
inputs

    Wheather  temp  weather_n  temp_n
0      Sunny   Hot          2       1
1      Sunny   Hot          2       1
2   Overcast   Hot          0       1
3      Rainy  Mild          1       2
4      Rainy  Cool          1       0
5   Overcast  Cool          0       0
6      Sunny  Cool          2       0
7      Sunny  Mild          2       2
8      Rainy  Cool          1       0
9      Sunny  Mild          2       2
10  Overcast  Mild          0       2
11  Overcast   Hot          0       1
12     Rainy  Mild          1       2

In [13]:
inputs_n=inputs.drop(['Wheather','temp'],axis='columns')
inputs_n

    weather_n  temp_n
0           2       1
1           2       1
2           0       1
3           1       2
4           1       0
5           0       0
6           2       0
7           2       2
8           1       0
9           2       2
10          0       2
11          0       1
12          1       2

In [14]:
classifier=GaussianNB()
classifier.fit(inputs_n,target)

GaussianNB(priors=None, var_smoothing=1e-09)

In [16]:
classifier.score(inputs_n,target)

0.7692307692307693

In [17]:
classifier.predict([[1,0]])

array(['Yes'], dtype='<U3')

In [19]:
classifier.predict([[2,1]])

array(['No'], dtype='<U3')